.treeView_wraper{
    margin-right: -8px;
    margin-left: 8px;
    border-radius: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    position: relative;
}
.treeView_wraper_input{
    width: 100%;
    height: 40px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
}
.treeView_wraper_input input{
    width: 90%;
    outline: none;
    border: none;
    padding-left: 12px;
    margin-left: 3px;
}
.dropdown-select-custom{
    left: 0px !important;
    top: 42px !important;
    width: 100% !important;
    overflow: hidden;
    -webkit-box-shadow: 0 5px 10px rgb(33 33 33 / 20%);
    box-shadow: 0 5px 10px rgb(33 33 33 / 20%);
}

.treeView-icon-drop{
    justify-content: center;
    align-items: center;
    width: 10%;
    display: flex;
}
.cate-treeItem-root{
    margin: 0;
    outline: 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: transparent;
}
.cate-treeItem-content{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.cate-treeItem-iconContainer {
    width: 15px;
    display: flex;
    flex-shrink: 0;
    margin-right: 4px;
    justify-content: center;
}
.cate-treeItem-label {
    width: 100%;
    position: relative;
    padding-left: 4px;
}
.cate-typography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.cate-treeItem-group{
    margin: 0;
    padding: 0;
    margin-left: 17px;
}

.cate-treeItem-label:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.cate-treeItem-root.cate-tree-selected > .cate-treeItem-content .cate-treeItem-label {
    background-color: rgba(25, 118, 210, 0.08);
}