.ck.ck-editor{
    margin-left: 8px !important;
    width: 100% !important;
}
.ck-content{
    min-height: 200px !important;
}
.ck-content .image-style-side {
	max-width: 50%;
	float: right;
	margin-left: var(--ck-image-style-spacing);
}

.ck-content .image-style-align-right {
	max-width: 50%;
    max-height: 50%;
}

.ck-content .image-style-align-left {
	max-width: 50%;
    max-height: 50%;
}


.ck-content .image.image_resized {
	max-width: 100%;
}
.ck-content .image.image_resized {
	display: block;
	box-sizing: border-box;
}

.ck-content .image.image_resized img {
	width: 100%;
}

.ck-content .image.image_resized > figcaption {
	display: block;
}