  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  


.cursor{
    cursor: pointer;
}

.notification-wrapper {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 300px;
    z-index: 1500;
}

.notification-item {
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
    background: #ffffff;
}

.notification-item .close{  
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item .exit {
    animation: SlideRight 0.2s;
    animation-fill-mode: forwards;
}

.notification-item p {
    margin: 0;
    padding: 10px;
    color: #171717
}

.notification-item .bar {
    animation:progress 3.5s forwards;
    height: 2px;
    opacity: 0.8;
}

.notification-item.show_success .bar {
    background-color: #4efa51;
}

.notification-item.show_error .bar {
    background-color: rgb(253, 42, 42);
}

.important_card{
    flex-direction:initial;
   }
   .mr_auto{
    margin: auto;
   }
   
.content_table_data_empty{
	position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    z-index: 1000;
    border-radius: 4px;
    margin: 0px auto;
	padding-top: 30px;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(117 117 117 / 50%); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgb(117 117 117 / 50%); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.3); 
}
