  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
.wrapper-container{
  width: calc(100% - 100px);
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
  transition: all 0.5s ease;
}
.cursor{
    cursor: pointer;
}
.hms-btn-button{
    min-width: 90px;
    font-weight: 500;
}
.body-pd .wrapper-container{
  width: calc(100% - 350px);
}

 .focus-dropdown{
  border: 1px solid #0052cc !important;
}

.next-input-group input{
  outline: none;
    border: none;
    width: 95%;
    height: 100%;
    padding: 10px;
}


// .body-pd .container-fluid .container{
//     margin-left: inherit !important;
// }

// loading
.loader{
    height: 25px;
    width: 25px;
    position: relative;
    animation: rotate 5s  infinite;
  }
  .ball{
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  .upper{
    left: 0;
    top: -22px;
    background: #2da2ff;
    animation: upper 1s linear infinite;
  }
  @keyframes upper {
    50%{
      top: 22px;
    }
    100%{
      top: 22px;
    }
  }
  .right{
    right: -22px;
    top: 0;
    background: #ff337a;
    animation: right 1s linear infinite;
  }
  @keyframes right {
    50%{
      right: 22px;
    }
    100%{
      right: 22px;
    }
  }
  .lower{
    bottom: -22px;
    left: 0;
    background: #ffff00;
    animation: lower 1s linear infinite;
  }
  @keyframes lower {
    50%{
      bottom: 22px;
    }
    100%{
      bottom: 22px;
    }
  }
  .left{
    left: -22px;
    top: 0;
    background: #00ff00;
    animation: left 1s linear infinite;
  }
  @keyframes left {
    50%{
      left: 22px;
    }
    100%{
      left: 22px;
    }
  }
  
// end loading

.notification-wrapper {
    position: fixed;
    top: 80px;
    right: 10px;
    width: 300px;
    z-index: 1500;
}

.font-size-13{
    font-size: 13px;
}

.notification-item {
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
    background: #ffffff;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #0052cc !important;
}

.notification-item .close{  
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    margin-top: -7px;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item .exit {
    animation: SlideRight 0.2s;
    animation-fill-mode: forwards;
}

.notification-item p {
    margin: 0;
    padding: 10px;
    color: #171717
}

.notification-item .bar {
    animation:progress 3.5s forwards;
    height: 2px;
    opacity: 0.8;
}

.notification-item.show_success .bar {
    background-color: #4efa51;
}

.notification-item.show_error .bar {
    background-color: rgb(253, 42, 42);
}

.important_card{
    flex-direction:initial;
   }
   .mr_auto{
    margin: auto;
   }
   
.content_table_data_empty{
	position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    z-index: 1000;
    border-radius: 4px;
    margin: 0px auto;
	padding-top: 30px;
}



/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}

.btn-search{
    outline: none;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #fff;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(117 117 117 / 50%); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgb(117 117 117 / 50%); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.3); 
}

.cursor-pointer{
    cursor: pointer;
}
.color-black{
    color: #212121;
}

.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}
.badge-counter {
    position: absolute;
    transform: scale(.7);
    transform-origin: top right;
    right: 0;
}

 .dropdown-list {
    padding: 0;
    border: none;
    overflow: hidden;
}

.dropdown-head{
    background-color: #4e73df;
    border: 1px solid #4e73df;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}

.dropdown-list .dropdown-item {
    white-space: normal;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-left: 1px solid #e3e6f0;
    border-right: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
    line-height: 1.3rem;
}
.font-weight-bold {
    font-weight: 700!important;
}

.animated--grow-in, .sidebar .nav-item .collapse {
    -webkit-animation-name: growIn;
    animation-name: growIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
    animation-timing-function: transform cubic-bezier(.18,1.25,.4,1),opacity cubic-bezier(0,1,.4,1);
}

.dropdown-menu-ct{
    width: 160px !important;
}

.dropdown-item-ct {
border-bottom: none !important;
}

.MuiButton-label svg {
    color: var(--white-color);
}

.ant-menu-submenu-expand-icon, .ant-menu-submenu-unexpand-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: -webkit-transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1);
    transition: transform .3s cubic-bezier(.645,.045,.355,1),-webkit-transform .3s cubic-bezier(.645,.045,.355,1);
}

.active .ant-menu-submenu-expand-icon{
    display: none;
}
.active .ant-menu-submenu-unexpand-icon{
    display: block !important;
}

.ant-menu-submenu-unexpand-icon{
    display: none;
}
.collapsed .ant-menu-submenu-unexpand-icon{
    display: none !important;
}

.collapsed .ant-menu-submenu-expand-icon{
    display: block;
}

legend{
    float: none;
}

.wrapper-content {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    padding: 20px;
    padding-left: 5px;
}
.ui-information-title{
    line-height: 18px;
    text-transform: capitalize;
    color: #0b3d88;
}

.zindex-dropdown{
    z-index: 100 !important;
}

.btn-add-custom{
    border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
	padding: 10px;
	text-transform: uppercase;
	border-radius: 6px;
	display: inline-block;
	transition: all 0.3s ease 0s;
}

.btn-add-custom:hover {
    color: #404040 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: none;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.3s ease 0s;
}

.btn-add-custom a:hover {
	color: #404040 !important;
}

.btn-add-custom:hover {
	color: #404040 !important;
}


.color-picker {
    width: 36px;
    height: 28px;
    border-radius: 2px;
  }

  .swatch-picker {
    padding: 5px;
    background: #fff;
    border-radius: 1px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: inline-block;
    cursor: pointer;
  }
  .popover-picker{
    position: absolute;
    z-index: 2;
  }
  .cover-picker{
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

  .border-line-bottom{
    box-shadow: inset 0 -1px 0 rgb(38 50 56 / 10%);
  }

  .text-label-custom{
    text-align: right;
    padding-right: 5px;
    padding-bottom: 5px;
    color: #2962ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
  }

  .btn-light:focus{
    box-shadow: 0 0 0 0.15rem rgb(211 212 213 / 50%) !important
  }

  .hmt-image-thumbnail{
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    border: 1px solid #ebecf0;
    vertical-align: middle;
    background: #fff;
    margin-right: 15px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .next-input--is-focused, .next-input:focus {
    border-color: #0052cc;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 4px;
    box-shadow: none;
}

label {
    font-weight: 500;
    margin-bottom: .3rem;
}

.required{
    color: #fe0d0d;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgb(49 132 253 / 50%) !important;
}

.btn-check:active+.btn-danger:focus, .btn-check:checked+.btn-danger:focus, .btn-danger.active:focus, .btn-danger:active:focus, .show>.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.15rem rgb(225 83 97 / 50%) !important;
}

.row-root-hover:hover{
  background-color: #e8ecf9;
}
.drawer-container{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

.drawer-container>div{
  width: 100%;
}

.select-custom{
  z-index: 100;
  width: 100%;
}


// loadMore

.spinner_load_more {
  margin: 10px auto 0;
  width: 70px;
  text-align: center;
}

.spinner_load_more > div {
  width: 12px;
  height: 12px;
  background-color: #3f51b5;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner_load_more .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner_load_more .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// end loadMore


// snip loading 
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0d6efd;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


// end end snip loading 


.flex-box-content img{
  max-width: 50px;
  max-height: 50px;
}

.box-content-name a{
  font-size: 16px;
  color: #0d6efd;
}
.box-content-trash{
  color: #e21c2e;
}
.pro-coll-item:hover{
  background-color: aliceblue;
}