
@{
    ViewData["Title"] = "Error";
}

<div class="error-page">
    <div class="container">
        <div class="error_pagenotfound">
            <strong>4<span id="animate-arrow">0</span>4 </strong> <br />
            <b>Rất tiếc! </b> <em> Không tìm thấy Trang!</em>
            <p>xin lỗi Trang không thể được tìm thấy ở đây.</p>
            <br />
            <a href="\" class="button-back"><i class="icon-arrow-left-circle icons"></i>&nbsp; Trở về trang chủ</a>
        </div>
        <!-- end error page notfound -->

    </div>
</div>